.sidr {
    background-color: #191918;
  }

  .sidr ul li:hover{
    line-height:48px;
  }

  .sidr ul {
    border-bottom:0;
    border-top: 0;
  }

  .sidr a,
  .sidr ul li a {
    color: #b3b3b1;
  }

  .sidr a:hover,
  .sidr ul li:hover>a{
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow:none;
    color: #fff;
  }

  .sidr ul li {
    border-bottom: 0;
    border-top: 0;
  }

  .sidr > .profile {
    text-align: center;
    padding-top:15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 15px;
  }

  .sidr > .profile > .bio {
    color: #b3b3b1;
  }

  .sidr > .profile > span {
    display:block;
  }

  .sidr .profile > .social-icons {
    font-size:32px;
  }


  #sidebar-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 44px;
    height: 44px;
    z-index: 700;
    background-color: #333332;
    text-align: center;
    border: 0;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    font-size:28px;
    color:white;
  }

footer {
    padding-top: 3px;
    background: #fff;
}
.footer-text {
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;font-family: 'Bitter', serif;
}

#social-icons {
    margin-top: 35px;
}

#social-icons a {
    text-decoration: none;
}

.linkedin {
    display: inline-block;
    background: url(../img/social/linkedin.png);
    width: 48px;
    height: 48px;
}

.linkedin:hover {
    background: url(../img/grey/linkedin.png);
}

.twitter {
    display: inline-block;
    background: url(../img/social/twitter.png);
    width: 48px;
    height: 48px;
}

.twitter:hover {
    background: url(../img/grey/twitter.png);
}

.github {
    display: inline-block;
    background: url(../img/social/github.png);
    width: 48px;
    height: 48px;
}

.github:hover {
    background: url(../img/grey/github.png);
}

a .fa-stack-overflow, .fa-github, .fa-linkedin, .fa-twitter {
    text-decoration: none;
}
.fa-stack-overflow, .fa-github, .fa-linkedin, .fa-twitter {
    color: #C0C0C0;
    margin-left: 15px;
    transition: all 0.5s ease 0.2s;
    text-decoration: none;
}

.fa-linkedin:hover {
  color: #65B7D2;
  text-decoration: none;
}
.fa-twitter:hover {
    color: #45B0E3;
    text-decoration: none;
}

.fa-stack-overflow:hover {
    color: #FF8A1B;
    text-decoration: none;
}

.fa-github:hover {
    color: #333333;
    text-decoration: none;
}

.dude-pic {
    width: 230px;
    height: 200px !important;
    padding-left: 15px;
    padding-right: 15px;
}

.topbar {
    display: block;
    z-index: 101;
    position: fixed;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 14px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    color: #b3b3b1;
    border-top: 2px solid #000;
}

.side-nav-button {
    z-index: 102;
    top: 5px;
    position: fixed;
}
#sidebar-nav {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 44px;
    height: 44px;
    z-index: 700;
    background-color: #333332;
    text-align: center;
    border: 0;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    font-size: 28px;
    color: white;
}

.fixed-topbar .social-links {
    margin: 10px;
}

.sidr.left {
/*    background: #45506E;
*/}

.pull--right {
    float: right !important;
}
