#wrapper {
  padding-left: 400px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -400px;
  left: 400px;
  width: 400px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
  text-align: center;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #fff;
  font-size: 20px;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.well{
  background: #6BAF77
  
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;

}

.sidebar-nav > .sidebar-brand a {
  color: #999999;font-size: 26px;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}


.content-header {
  margin: 0;
  margin-top: 60px;
  line-height: 65px;
  text-align: center;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

.owner {
  
  font-size: 70px;
  font-family: sans-serif, helvetica, Arial;
  color: #433333;
  text-align: center;
}

.circular {
	margin-top: 60px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

#navi {
  margin-top: 100px;
 
  margin-left: 100px;
  margin-right: 100px;  border-top: 1px solid #DEDEDC;
  border-bottom: 1px solid #DEDEDC;
}
#navi li{
  
  float: left;

}
#navi li a {
  background: #fff;
  color: #797F7A;
  font-size: 27px;
  margin-left:35px;
  transition: all 0.5s ease 0.1s;
  
}

#navi li a:hover {
  background: #fff;
  color: #3C3F3D;
  border-bottom: 2px solid #6BAF77;

}

footer {
padding-top: 3px;
}
.footer-text {
text-align: center;
padding: 5px;
}

#social-icons {
	margin-top: 35px;
}

.linkedin {
display: inline-block;
background: url(../img/social/linkedin.png);
width: 48px;
height: 48px;
}

.linkedin:hover {
	background: url(../img/grey/linkedin.png);
}

.twitter {
display: inline-block;
background: url(../img/social/twitter.png);
width: 48px;
height: 48px;
}

.twitter:hover {
	background: url(../img/grey/twitter.png);
}

.github {
display: inline-block;
background: url(../img/social/github.png);
width: 48px;
height: 48px;
}

.github:hover {
	background: url(../img/grey/github.png);
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 400px;
}

#wrapper.active #sidebar-wrapper {
  left: 400px;
  width: 400px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

#page-content-wrapper {
  width: 100%;
}

.inset {
  padding: 15px;
}
.content-header {
  margin: 0;
  line-height: 55px;
  display: inline-block;
}
.owner {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif, helvetica, Arial;

}
#navi {
  margin-top: 50px;
}
#navi li{

}

#navi li a {
  background: #fff;
  color: #797F7A;
  font-size: 22px;
  

}