---

title: Recent Posts
extends: listing_main.j2
default_block: test
listable: false
---


{% block navi %}
<div id="nav-main">

            <ul class="nav nav-pills">

              <li><a href="{{ content_url('about.html') }}">About</a></li>
              <li><a class="active" href="{{ content_url('blog/') }}">Archive</a></li>
              <li><a href="{{ content_url('portfolio/') }}">Projects</a></li>
              <li><a href="#">Walk-through</a></li>
            </ul>
            
            </div>
{% endblock %}


{% block all %}
<div class="browse_all">
 <a href="/blog">Browse All posts </a> 
</div>
{% endblock %}