{% extends "blog.j2" %}

{% block parallax_image %}
  <div class="parallax-container">
    <div class="parallax"><img class="" id="slide-image-1" src="{{ media_url('img/main__archive.jpg') }}"></div>
  	{% block loader %}
    	{{ super() }}
    {% endblock loader %}
  </div>
{% endblock parallax_image %}

{% from "macros.j2" import render_excerpt_blog with context  %}
	{% block main %}
		<!-- {% block page_title %}<h1 class="title">{{ resource.meta.title }}</h1>{% endblock %}  -->
		<h1 style="text-align:center;color:#5ba4e5;">Archive - Curated list of my writings.</h1>

		{% set years = range(2016, 2012, -1) -%}
		{% for year in years -%}
			<span class="blog-year">{{ year }}</span>
			<ol class="listing_blog clear">
				{% for res in site.content.walk_resources_sorted_by_time() if res.meta.created.year == year -%}
				<li>
			    	{{ render_excerpt_blog(res, '', year) }}
				</li>
				{%- endfor %}
			</ol>
		{% endfor %}

	{% endblock %}
