---
extends: base.j2

title: LAB - Projects
description: Portfolio page in the BASIC hyde template
---

 {% block css %}

  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">

  <link rel="stylesheet" href="{{ media_url('css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/simple-sidebar.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/syntax.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/base.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
   <link rel="stylesheet" href="{{ media_url('font-awesome/css/font-awesome.min.css') }}" />
  
  {% endblock css %}
{% block main %}
<!-- Content goes here -->
<div id="project-showcase">

<div id="project-no">
<p class="project-title">This site</p>
<p id="long-description">
This is HYDE generated static HTML site and each web page has been authored in Markdown to avoid hand-authoring HTML. This site uses template language simlar to that of the popular Django framework, implemented through the Jinja2 project for rendering HTML pages into static content. If you look at my weblogs, more than half of the HTML of each page is boilerplate replicated across all entries. A template allows me to express that 50 percent of content only once and have it automatically applied to all the pages.

<br /><br />

HYDE provides me beautiful Syntax Highlighting Plugin to post all my code-snippets in my weblogs according to the language's taste. It not only makes code-snippets more readable but also helps in understanding the main points being highlighted.

<br /><br />
<i class="tech-specs">Technologies implemented:</i> Python, HYDE, HTML, CSS, Bootstrap, JS, Jinja2, Markdown
</p>

<a class="btn btn-info" href="http://github.com/softvar/simplegist">
  <i class="icon-github" style="color:black" ></i> Source Code</a>
<a class="btn btn-info" href="http://github.com/softvar/simplegist">
  <i class="icon-download-alt"></i> Download</a>
  <a class="btn btn-success" target="_blank" href="http://varunmalhotra.info/">
  <i class="icon-play" style="color:white"></i> Live Demo</a>


<div id="project-endline"></div>

</div>

<div id="project-no">
<p class="project-title">Simplegist</p>
<p id="long-description">
 Github-Gist Api - python wrapper
 <br />
Python wrapper for GitHub's Gist API.
<br />

Features
<br />
  
    <i class="icon-plus" style="font-size:14px;"></i>  Creating gists returning the url, script and clone link for copy-paste purpose <br />
    <i class="icon-plus" style="font-size:14px;"></i>  Checkout one's gists - Name(s), Description and Content<br />
    <i class="icon-plus" style="font-size:14px;"></i>  Edit and Delete a gist<br />
    <i class="icon-plus" style="font-size:14px;"></i>  Search GitHub user's gist - fork, star and unstar them<br />
    <i class="icon-plus" style="font-size:14px;"></i>  List-all comments of any gist, make/edit a comment on a gist, delete a comment<br />
  
<br />

Read Full Documention at <a href="https://simplegist.readthedocs.org/en/latest/">READTHEDOCS</a>/<a href="http://pythonhosted.org/simplegist/">PYTHONHOSTED</a>
 
    <br /><br />
    <i class="tech-specs">Technologies implemented:</i> Python, Github-APi(v3), Requests
</p>

<a class="btn btn-info" href="http://github.com/softvar/simplegist">
  <i class="icon-github" style="color:black" ></i> Source Code</a>
<a class="btn btn-info" href="http://github.com/softvar/simplegist">
  <i class="icon-download-alt"></i> Download</a>

<div id="project-endline"></div>

</div>

<div id="project-no">
<p class="project-title">json2html</p>

<p id="long-description">
  This project aims to convert JSON Object to HTML representation. 
  Non-technical audience find it difficult to understand JSON representation. This app aids them in learning and better understanding of deploying JSON. This project has been developed using open-source python library FLASK. The design has been implemented using Twitter-Bootstrap.
  <br /><br />

  <i class="tech-specs">Technologies implemented:</i> Python, Flask, Bootstrap, HTML, CSSa and JSON

</p>

<a class="btn btn-info" href="http://github.com/softvar/simplegist">
  <i class="icon-github" style="color:black" ></i> Source Code</a>
<a class="btn btn-info" href="http://github.com/softvar/simplegist">
  <i class="icon-download-alt"></i> Download</a>
<a class="btn btn-success" target="_blank" href="http://json2html.herokuapp.com">
  <i class="icon-play" style="color:white"></i> Live Demo</a>

<div id="project-endline"></div>

</div>

<div id="project-no">
<p class="project-title">PyShare </p>

<p id="long-description">

PyShare is a client-server model based application.
It's a local, event-driven and multi-user application which provides asynchronous
File Sharing. The backend runs over Twisted Networking Engine.
<br /><br />
This project aims to bring down the tedious amount of work to integrate and
collaborate team;s work. Though it doen't provide any such mechanism to enhance
collaborativeness, but it let users to know the work status of others, let syncing of work.

<br /><br />

<i class="tech-specs">Technologies implemented:</i> Python, Kivy Framework, Twisted Library and Bash

</p>

<a class="btn btn-info" href="http://github.com/softvar/pyShare">
  <i class="icon-github" style="color:black" ></i> Source Code</a>
<a class="btn btn-info" href="http://github.com/softvar/pyShare">
  <i class="icon-download-alt"></i> Download</a>

<div id="project-endline"></div>

</div>

<div id="project-no">
<p class="project-title">GistHub</p>

<p id="long-description">

GistHub is an HTML5 app for managing Github Gists and was designed solely for the purpose of Firefox-OS app. It's a packaged and free app to be downloaded from Firefox Marketplace <a href= "https://marketplace.firefox.com/app/gisthub/" taregt="_blank">GistHub</a>.

<br /><br />

Some Features include:<br />

    <i class="icon-plus" style="font-size:14px;"></i> View all github-gists<br />
    <i class="icon-plus" style="font-size:14px;"></i> Edit a gist<br />
    <i class="icon-plus" style="font-size:14px;"></i> Delete a particular gist<br />
    <i class="icon-plus" style="font-size:14px;"></i> Create numbers of gists<br />
    <i class="icon-plus" style="font-size:14px;"></i> Search any github users' gists<br />
    <i class="icon-plus" style="font-size:14px;"></i> Fork, Star, Unstar any number of gists<br />
    <br />
    <i class="tech-specs">Technologies implemented:</i> HTML, CSS3, JavaScript, JQuery, Twitter-Bootstrap, IndexedDB, AJAX, Github API v3 and JSON

</p>

<a class="btn btn-info" href="http://github.com/softvar/fos-Gisthub">
  <i class="icon-github" style="color:black" ></i> Source Code</a>
<a class="btn btn-info" href="http://github.com/softvar/fos-Gisthub">
  <i class="icon-download-alt"></i> Download</a>

<div id="project-endline"></div>

</div>

<div id="project-no">
<p class="project-title">Melange</p>

<p id="long-description">
  

</p>

<a class="btn btn-info" href="http://github.com/softvar/simplegist">
  <i class="icon-github" style="color:black" ></i> Source Code</a>
<a class="btn btn-info" href="http://github.com/softvar/simplegist">
  <i class="icon-download-alt"></i> Download</a>

<div id="project-endline"></div>

</div>

<div id="project-no">
<p class="project-title">Proword</p>

<p id="long-description">
  
Proword is a basic Text-Editor, fully implemented in C/C++ using Borland graphics.
Proword was my first project with so called Data Structurlly.
It's dual mode i.e Console mode or general notepad mode provides a soothing
environment to work on.
<br /><br />
It also empasses the User Authentication feature which allows a user can
save and reload their work. The usual workflow in writing is thoroughly 
achieved using multi-level link-lists and structures. 

<br /><br />
<i class="tech-specs">Technologies implemented:</i> Data-Structures, C/C++
</p>


<a class="btn btn-info" href="http://github.com/softvar/proword">
  <i class="icon-github" style="color:black" ></i> Source Code</a>
<a class="btn btn-info" href="http://github.com/softvar/proword">
  <i class="icon-download-alt"></i> Download</a>


<div id="project-endline"></div>

</div>
</div>

{% endblock main %}

{% block navi %}
<div id="nav-main">

            <ul class="nav nav-pills">

              <li><a href="{{ content_url('about.html')}}">About</a></li>
              <li><a href="{{ content_url('blog/') }}">Archive</a></li>
              <li><a class="active" href="#">Projects</a></li>
              <li><a href="#">Walk-through</a></li>
            </ul>
            
            </div>
{% endblock %}



