---
extends: base.j2
title: LAB - Projects
description: Portfolio page in the BASIC hyde template
---
{% block css %}
  {{ super() }}
{% endblock css %}
{% block endhead %}
  <script type="text/javascript" src="{{ media_url('/js/libs/jquery.github.js') }}"></script>
{% endblock endhead %}
{% block parallax_image %}
  <div class="parallax-container">
    <div class="parallax"><img class="" id="slide-image-1" src="{{ media_url('img/workspace.jpg') }}"></div>
    {% block loader %}
      {{ super() }}
    {% endblock loader %}
  </div>
{% endblock parallax_image %}
{% block main %}
    <div id="project-no">
      <p style="text-align:center;">All my online work(mostly open-sourced) can be found on my <a href="https://github.com/softvar" target="_blank">Github Profile</a>
      </p>

      <p class="project-title">varunmalhotra.xyz</p>
      <p id="long-description">
        This is my personal website, HYDE smelted static and responsive HTML site and each blogpost page has been authored in Markdown to avoid hand-authoring HTML. This site uses template language simlar to that of the popular Django framework, implemented through the Jinja2 project for rendering HTML pages into static content. If you look at my weblogs, more than half of the HTML of each page is boilerplate replicated across all entries. A template allows me to express that 50 percent of content only once and have it automatically applied to all the pages.
        <br /><br />
        HYDE provides me beautiful Syntax Highlighting Plugin to post all my code-snippets in my weblogs according to the language's taste. It not only makes code-snippets more readable but also helps in understanding the main points being highlighted.
        <br /><br />
        <span class="tech-specs">Technologies Implemented:</span> Python, HYDE, HTML, CSS, Bootstrap, JS, Jinja2, Markdown
      </p>
      <br />
      <div data-repo="softvar/softvar.github.io" class="github-box-wrap"></div>
      <br /><br/>
      <div id="project-endline"></div>
    </div>

    <div id="project-no">
      <p class="project-title">Color Schemr</p>
      <p id="long-description">
        Generate your always aspiring Color Schemes by simply hitting spacebar (on desktop) or swiping (on mobile).
        <br /><br />
        Features:
        <br /><br />

        <i class="fa fa-plus" style="font-size:14px;"></i><b> Generate Palettes</b> - Hit spacebar to generate new palettes. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Add / Remove Strips</b> - Add to front / last (Upto a maximum of 10 strips), remove any strip. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Color Range</b> - Get Colors from a specified range of [R, G, B]. Just select your preference. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Lock / Unlock</b> - Control whether hitting spacebar should update strip's color. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Color Codes</b> - Each strip color in Hex and RGB code. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Adjust Opacity</b> - Adjust strip opacity by dragging the slider. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Random Quote</b> - A color quote with each new palette generation. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Global Settings</b> - Lock / Unlock / Adjust Color Range for all Strips. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Disco Mode</b> - Automatic palette generation in a loop. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Piano Mode</b> - Automatic random strip changes color in a loop. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Preview Mode</b> - Preview how colors would look on a minimalistic template. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Gradient Mode</b> - Blend colors to view it as gradient strip (works best with two colors). <br />
        <i class="fa fa-plus" style="font-size:14px;"></i><b> Key bindings</b> - Change particular strip color by pressing number keys (0-9). 1 for first strip...0 for tenth. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i> <b>Responsive</b> - Cross platform responsive app.

        <br /><br />
        <span class="tech-specs">Technologies Implemented:</span> AngularJs 2, Materialize framework (MDL), TypeScript, ES6, Webpack, HTML5, CSS3 and FontAwesome
      </p>
      <br />
      <div data-repo="softvar/colorschemr" class="github-box-wrap"></div>
      <br /><br/>
      <div style="text-align:center;">
        <a class="btn  waves-effect waves-light orange" target="_blank" href="https://www.producthunt.com/tech/color-schemr">
          <i class="fa  fa-play" style="color:white"></i> Featured on ProductHunt
        </a>
        <a class="btn  waves-effect waves-light" target="_blank" href="http://colorschemr.com">
          <i class="fa  fa-play" style="color:white"></i> Live Demo
        </a>
      </div>
      <div id="project-endline"></div>
    </div>

    <div id="project-no">
      <p class="project-title">secure-ls</p>
      <p id="long-description">
        Secure LocalStorage data with high level of encryption and data compression.
        <br /><br />
        Features:
        <br /><br />

        <i class="fa fa-plus" style="font-size:14px;"></i> Secure data with various types of Encryption techniques including AES, DES, Rabbit and RC4 (defaults to Base64 encoding). Secret key, if not provided, is also secured and generated using PBKDF2 password key genration. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Compress data before storing it to localStorage to save extra bytes (defaults to true). <br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Advanced API wrapper over localStorage API, providing other basic utilities. <br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Save data in multiple keys inside localStorage and secure-ls will always remember it's creation. <br />

        <br /><br />
        <span class="tech-specs">Technologies Implemented:</span> ES6, Webpack, crypto-js, lz-string for library; HTML5, CSS3 and Materialize framework (MDL) for Landing Page
      </p>
      <br />
      <div data-repo="softvar/secure-ls" class="github-box-wrap"></div>
      <br /><br/>
      <div style="text-align:center;">
        <!-- <a class="btn  waves-effect waves-light orange" target="_blank" href="https://www.producthunt.com/tech/secure-ls">
          <i class="fa  fa-play" style="color:white"></i> Featured on ProductHunt
        </a> -->
        <a class="btn  waves-effect waves-light" target="_blank" href="http://varunmalhotra.xyz/secure-ls/">
          <i class="fa  fa-play" style="color:white"></i> Live Demo
        </a>
      </div>
      <div id="project-endline"></div>
    </div>

    <div id="project-no">
      <p class="project-title">Translatr</p>
      <p id="long-description">
        It's a cross platform, online translation tool. It helps in translating a text or a short paragraph into different multiple languages.
        <br /><br />
        <strong>Who is this for? </strong>
        There's no such free online API which fulfils the desired requirements. Google Translate API is not free and this tool fetches result from it's older API only and parses the data accordingly.
        <br /></br />
        Features:
        <br /><br />
        <i class="fa fa-plus" style="font-size:14px;"></i> It helps in translating multiple languages at once. The service translates a string one by one and then outputs the desired output once all being done.<br />
        <i class="fa fa-plus" style="font-size:14px;"></i> It can be used as an API for multiple languages translation for small personal needs.<br />
        <i class="fa fa-plus" style="font-size:14px;"></i> It stores current options(in LocalStorage) thereby speeding usage for later.<br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Directly copy the JSON formatted response to your clipboard.<br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Select / Unselect `All` countries.<br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Filter countries quickly using search-bar.<br />
        <br /><br />
        <span class="tech-specs">Technologies Implemented:</span> AngularJs 1.4, Materialize framework, HTML5, CSS3 Python, Flask, and Google Translate API
      </p>
      <br />
      <div data-repo="softvar/translatr" class="github-box-wrap"></div>
      <br /><br/>
      <div style="text-align:center;">
        <a class="btn  waves-effect waves-light orange" target="_blank" href="https://www.producthunt.com/tech/translatr">
          <i class="fa  fa-play" style="color:white"></i> Featured on ProductHunt
        </a>
        <a class="btn  waves-effect waves-light" target="_blank" href="http://translatr.varunmalhotra.xyz/">
          <i class="fa  fa-play" style="color:white"></i> Live Demo
        </a>
      </div>
      <div id="project-endline"></div>
    </div>



    <div id="project-no">
      <p class="project-title">Visualization of ProductHunt Users worldwide</p>
      <p id="long-description">
        The primary challenge of this project was figuring out how to get the desired data.
        <br /><br />
        The secondary challenge of this project was figuring out how to draw several thousand 3D data spikes as quickly and smoothly as possible.
        <br /><br />
        Script was written in NodeJS to fetch all the PH users data, Twitter API was used over the collected PH data to get the location of all users. Google Maps Geocoding API helped in converting addresses (like "1600 Amphitheatre Parkway, Mountain View, CA") into geographic coordinates (like latitude 37.423021 and longitude -122.083739), which can be used to place markers on a map, or position the map. Data modelling and normalization of data followed after proper screening of Geocodes data.
        <br /><br />
        <span class="tech-specs">Blog: </span> <a href="https://medium.com/@s0ftvar/producthunt-users-worldwide-c4b9a6432aa1#.p88fengki" target="_blank">Data modelling, screening and visualization</a>
        <span class="tech-specs">Technologies Implemented:</span> JavaScript, NodeJS, WebGL, HTML5, CSS3
      </p>
      <br />
      <div data-repo="softvar/softvar.github.io" class="github-box-wrap"></div>
      <br /><br/>
      <div style="text-align:center;">
        <a class="btn  waves-effect waves-light orange" target="_blank" href="https://www.producthunt.com/tech/producthunt-globe">
          <i class="fa  fa-play" style="color:white"></i> Featured on ProductHunt
        </a>
        <a class="btn  waves-effect waves-light" target="_blank" href="http://varunmalhotra.xyz/producthunt_globe/">
          <i class="fa  fa-play" style="color:white"></i> Live Demo
        </a>
      </div>
      <br /><br />
      <div id="project-endline"></div>
    </div>


    <div id="project-no">
      <p class="project-title">json2html</p>
      <p id="long-description">
        json2html is an open-source project which helps to convert JSON Object to HTML representation.
        <br /><br />
        Non-technical audience and sometimes even developers too, find it difficult to understand JSON representation when it goes viral in terms of its depthness. This app aids them in learning and better understanding of deploying JSON.
        The final representation can be viewed as HTML tables with just normal looks or glorified with awesome front-end framework, Bootstrap.
        This project has been developed using an open-source technology, a so called python library - FLASK.
        <br /></br />
        <span class="tech-specs">Technologies Implemented:</span> Python, Flask, Bootstrap, HTML, CSS and JSON
      </p>
      <br />
      <div data-repo="softvar/json2html-flask" class="github-box-wrap"></div>
      <br /><br/>
      <div style="text-align:center;">
        <a class="btn  waves-effect waves-light orange" target="_blank" href="https://www.producthunt.com/tech/json2html">
          <i class="fa  fa-play" style="color:white"></i> Featured on ProductHunt
        </a>
        <a class="btn  waves-effect waves-light" target="_blank" href="http://json2html.varunmalhotra.xyz/">
          <i class="fa  fa-play" style="color:white"></i> Live Demo
        </a>
      </div>
      <div id="project-endline"></div>
    </div>


    <div id="project-no">
      <p class="project-title">Bridge The Gap</p>
      <p id="long-description">
        A simple HTML5 game where a player has to create bridges in order to cross buildings. Here's the video link - <a href="https://youtu.be/wBhNJL-zXXM?t=424" target="_blank">https://youtu.be/wBhNJL-zXXM?t=424</a>
        <br /><br />
        <span class="tech-specs">Technologies Implemented:</span> HTML5, CSS3, JS
      </p>
      <br />
      <div data-repo="softvar/bridge-the-gap" class="github-box-wrap"></div>
      <br /><br/>
      <div  style="text-align:center;">
        <a class="btn  waves-effect waves-light" target="_blank" href="http://js13kgames.com/entries/bridge-the-gap">
          <i class="fa  fa-play" style="color:white"></i> Play Online
        </a>
      </div>
      <div id="project-endline"></div>
    </div>


    <div id="project-no">
      <p class="project-title">Simplegist</p>
      <p id="long-description">
        Github-Gist Api - python wrapper for GitHub's Gist API.
        <br /><br />
        Below are some cool features:
        <br /><br />
        <i class="fa fa-plus" style="font-size:14px;"></i>  Creating gists returning the url, script and clone link for copy-paste purpose <br />
        <i class="fa fa-plus" style="font-size:14px;"></i>  Checkout one's gists - Name(s), Description and Content<br />
        <i class="fa fa-plus" style="font-size:14px;"></i>  Edit and Delete a gist<br />
        <i class="fa fa-plus" style="font-size:14px;"></i>  Search GitHub user's gist - fork, star and unstar them<br />
        <i class="fa fa-plus" style="font-size:14px;"></i>  List-all comments of any gist, make/edit a comment on a gist, delete a comment<br />
        <br />
        Read Full Documention at <a href="https://simplegist.readthedocs.org/en/latest/">READTHEDOCS</a>/<a href="http://pythonhosted.org/simplegist/">PYTHONHOSTED</a>
        <br /><br />
        <span class="tech-specs">Technologies Implemented:</span> Python, Github-APi(v3), Requests
      </p>
      <br />
      <div data-repo="softvar/simplegist" class="github-box-wrap"></div>
      <br /><br/>
      <div id="project-endline"></div>
    </div>


    <div id="project-no">
      <p class="project-title">Resumizr </p>
      <p id="long-description">
        Real time Resume Builder, auto-filling data from connected social networking sites
        <br /><br />
        <span class="tech-specs">Technologies Implemented:</span> Django, Python, Jinja2, HTML5, CSS3, JS, JQuery, Bootstrap, OAuth Integration
      </p>
      <br />
      <div data-repo="softvar/resumizr" class="github-box-wrap"></div>
      <br /><br/>
      <div id="project-endline"></div>
    </div>


    <div id="project-no">
      <p class="project-title">PyShare </p>
      <p id="long-description">
        PyShare is an open-source client-server model based application.
        It's a local, event-driven and multi-user application which provides asynchronous
        File Sharing. The backend runs over Twisted Networking Engine.
        <br /><br />
        This project aims to bring down the tedious amount of work to integrate and
        collaborate team;s work. Though it doen't provide any such mechanism to enhance
        collaborativeness, but it let users to know the work status of others, let syncing of work.
        <br /><br />
        <span class="tech-specs">Technologies Implemented:</span> Python, Kivy Framework, Twisted Library and Bash
      </p>
      <br />
      <div data-repo="softvar/pyshare" class="github-box-wrap"></div>
      <br /><br/>
      <div id="project-endline"></div>
    </div>


    <div id="project-no">
      <p class="project-title">embed-jsfiddle </p>
      <p id="long-description">
        Web Component wrapper for jsFiddle's widgets using Polymer.
        <br /><br />
        <span class="tech-specs">Technologies Implemented:</span> JavaScript
      </p>
      <br />
      <div data-repo="softvar/embed-jsfiddle" class="github-box-wrap"></div>
      <br /><br/>
      <div  style="text-align:center;">
        <a class="btn  waves-effect waves-light" target="_blank" href="http://softvar.github.io/embed-jsfiddle/">
          <i class="fa  fa-play" style="color:white"></i> LIVE DEMO
        </a>
      </div>
      <div id="project-endline"></div>
    </div>


    <div id="project-no">
      <p class="project-title">GistHub</p>
      <p id="long-description">
        GistHub is an HTML5 app for managing Github Gists and was designed solely for the purpose of Firefox-OS app. It's a packaged and free app to be downloaded from Firefox Marketplace <a href= "https://marketplace.firefox.com/app/gisthub/" taregt="_blank">GistHub</a>.
        <br /><br />
        Some Features include:<br /><br />
        <i class="fa fa-plus" style="font-size:14px;"></i> View all github-gists<br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Edit a gist<br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Delete a particular gist<br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Create numbers of gists<br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Search any github users' gists<br />
        <i class="fa fa-plus" style="font-size:14px;"></i> Fork, Star, Unstar any number of gists<br />
        <br />
        <span class="tech-specs">Technologies Implemented:</span> HTML, CSS3, JavaScript, JQuery, Twitter-Bootstrap, IndexedDB, AJAX, Github API v3 and JSON
      </p>
      <br />
      <div data-repo="softvar/fos-gisthub" class="github-box-wrap"></div>
      <br /><br/>
      <div  style="text-align:center;">
        <a class="btn  waves-effect waves-light" target="_blank" href="https://marketplace.firefox.com/app/gisthub/">
          <i class="fa  fa-play" style="color:white"></i> Firefox Marketplace
        </a>
      </div>
      <div id="project-endline"></div>
    </div>


    <div id="project-no">
      <p class="project-title">Calculator</p>
      <p id="long-description">
        A Simple HTML5 based Calculator providing all the basic functionalities. It was developed for Firefox Marketplace.
        <br /><br />
        <span class="tech-specs">Technologies Implemented:</span> HTML5, CSS3, JavaScript
        <div data-repo="softvar/fOS-Calculator" class="github-box-wrap"></div>
        <br /><br/>
        <div  style="text-align:center;">
          <a class="btn  waves-effect waves-light" target="_blank" href="https://marketplace.firefox.com/app/calculator-13/">
            <i class="fa  fa-play" style="color:white"></i> Firefox Marketplace
          </a>
        </div>
        <div id="project-endline"></div>
      </div>


      <div id="project-no">
        <p class="project-title">Melange</p>
        <p id="long-description">
          Melange, yeah, most of you might be thinking of Google-Melange, right ?
          But this is totally different and was given this name, actually before I have heard about Google-melange <i class="icon-smile"></i>.
          <br /><br />
          Melange is a webapp providing a very flexible and user-friendly interface for building static websites, that automates real-time website code deployment.
          Moreover, features like Button glorify, HTML text-formatter and crawling of techie words not only provides an efficient and easy wrok-flow to hack on, but also, actually prooves it's ambigious name 'Melange' - a mixture.
          <br /><br />
          Melange is currently beta version and supports only a few HTML tags. A User can drag and drop various images, can play with some random texts, providing numerous styling options with dynamic re-positioing. Choice of removing the elements can be carried by dragging them onto the trashbox. Custom static pages can be a product out of it in no time.
          <br /><br />
          <span class="tech-specs">Technologies Implemented:</span> HTML, CSS, JS, PHP, JQuery, AJAX, MYSQL and FB-SDK.
        </p>
        <br />
        <div data-repo="softvar/melange" class="github-box-wrap"></div>
        <br /><br/>
        <div id="project-endline"></div>
      </div>


      <div id="project-no">
        <p class="project-title">Proword</p>
        <p id="long-description">
          Proword is a basic Text-Editor, fully Implemented in C/C++ using Borland graphics.
          Proword was my first project with so called Data Structurlly.
          It's dual mode i.e Console mode or general notepad mode provides a soothing
          environment to work on.
          <br /><br />
          It also empasses the User Authentication feature which allows a user can
          save and reload their work. The usual workflow in writing is thoroughly
          achieved using multi-level link-lists and structures.
          <br /><br />
          <span class="tech-specs">Technologies Implemented:</span> Data-Structures, C/C++
        </p>
        <br />
        <div data-repo="softvar/proword" class="github-box-wrap"></div>
        <br /><br/>
        <div id="project-endline"></div>
      </div>


      <div id="project-no">
        <p class="project-title">Gold Miner</p>
        <p id="long-description">
          Gold Miner is a very basic Game, fully implemented in C/C++ using Borland graphics, and my first ever project with my journey of Computers.
          <br /><br />
          It's a game in which an excavator tries to find the hidden Gold using his magical stick. The stick can move in any direction with it's flexible length.
          Obstacles in between makes the situation a bit trickier.
          <br /><br />
          <span class="tech-specs">Technologies Implemented:</span> C/C++, Borland Graphics
        </p>
        <br />
        <div data-repo="softvar/goldMiner" class="github-box-wrap"></div>
        <br /><br/>
        <div id="project-endline"></div>
      </div>
    </div>
    <script type="text/javascript">
    $(function () {
    $("[data-repo]").github();
    $.scrollUp({
    scrollName: 'scrollUp', // Element ID
    scrollClass: 'tooltipped',
    scrollDistance: 300, // Distance from top/bottom before showing element (px)
    scrollFrom: 'top', // 'top' or 'bottom'
    scrollSpeed: 300, // Speed back to top (ms)
    easingType: 'linear', // Scroll to top easing (see http://easings.net/)
    animation: 'fade', // Fade, slide, none
    animationInSpeed: 200, // Animation in speed (ms)
    animationOutSpeed: 200, // Animation out speed (ms)
    scrollText: '', // Text for element, can contain HTML
    scrollTitle: '', // Set a custom <a> title if required. Defaults to scrollText
      scrollImg: false, // Set true to use image
      activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
      zIndex: 2147483647, // Z-Index for the overlay
      dataPosition: 'top',
      dataTooltip: 'Scroll To Top'
      });
      });
      // $(document).ready(function(){
      //   $('ul.tabs').tabs();
      // });
      </script>
    {% endblock main %}